@font-face {
  font-family: "ryman_ecoregular";
  src: url("./fonts/rymaneco-regular-webfont.woff2") format("woff2"),
    url("./fonts/rymaneco-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
}

/* container styles start */

.container {
  margin-bottom: 40px;
  width: 100%;
}

/* container styles end */

/* header & nav bar styles start */

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px 25px;
  align-items: center;
  background-color: var(--secondary-color);
  font-family: "ryman_ecoregular", Arial, sans-serif;
  font-weight: normal;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
}

header h1 {
  font-weight: normal;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 10px 15px;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.on-hover:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

label {
  font-size: 0.85em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}

input[type="submit"] {
  background: #64b5f6;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

button {
  background: var(--tertiary-color);
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

button:hover {
  background: #a5d6a7;
  color: whitesmoke;
}

button:focus {
  background: var(--secondary-color);
  color: whitesmoke;
}

.form-entry {
  width: auto;
}

.error-text {
  margin-bottom: 2.5vw;
}

/* header & nav bar styles end */

/* footer styles start */

footer {
  background-color: var(--secondary-color);
  font-family: "ryman_ecoregular", Arial, sans-serif;
  font-weight: normal;
  font-size: 1vw;
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1%;
  bottom: 0;
  position: fixed;

  min-height: 40px;
  width: 100%;
}

.footer-content {
  color: whitesmoke;
  display: flex;
}

/* footer style ends */

/* hero styles start */
.hero {
  display: block;
  width: 100%;
}

.hero img {
  object-fit: cover;
  object-position: 50% 10%;
  width: 100%;
  height: auto;
  max-height: 350px;
}
/* hero styles end */

/* section style start */

.page-content {
  width: 100vw;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  padding: 15px 15px 0 0;
  width: 20%;
  font-family: "ryman_ecoregular", Arial, sans-serif;
  font-weight: normal;
  text-align: right;
}

.section-content {
  padding: 15px 5% 0 15px;
  width: 80%;
}

.section-content a {
  text-decoration: none;
  color: var(--secondary-color);
}

.section-content ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.section-content ul li a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.work-collection {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-samples {
  position: relative;
  flex-basis: 48%;
  padding: 0.5em;
  margin: 5px 5px;
}

.work-samples-hero {
  flex-basis: 100%;
}

.work-samples img {
  max-width: 100%;
  max-height: 100%;
  border: black solid 1px;
  z-index: 0;
}

.work-samples span {
  text-align: center;
}

#contact {
  margin-bottom: 15px;
}

#contact ul {
  display: flex;
  flex-wrap: wrap;
}

#contact li {
  margin: 0 15px 0 0;
}
/* section style ends */

a {
  z-index: 9999;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header nav ul li {
    font-size: 2.5vw;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header nav ul li {
    padding: 10px 15px;
    font-size: 4vw;
  }

  .hero {
  }

  .hero div {
    height: 200px;
  }

  .hero img {
    object-fit: cover;
    display: block;
  }

  .work-samples {
    flex-basis: 100%;
  }

  #contact li {
    margin: 5px 15px 0 0;
  }
}
